.content {
  width: 280px;
  height: 260px;
  display: inline-flex;
  padding: 32px 24px 32px 24px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 24px;
  border-radius: 10px;
  background: #fff;
}
.title {
  color: #2f2f2f;
  font-size: 26px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
}
.text {
  color: #2f2f2f;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}
.options {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 24px;
}

.logOut {
  width: 280px;
  height: 100%;
  display: flex;
  padding: 8px 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  background: var(--secondary-color-3, #ef5050);
  box-shadow: 0px 4px 8px 0px rgba(64, 123, 255, 0.34);
}
.cancel {
  width: 280px;
  height: 100%;
  display: flex;
  padding: 8px 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  background: var(--secondary-color-5, #d7e3ff);
}
.close {
}
