.userLogo {
  width: 122px;
  height: 28px;
  display: flex;
  align-items: center;
}
.name {
  width: 66px;
  height: 20px;
  margin-right: 8px;
  display: flex;
  justify-content: flex-end;
  color: #2f2f2f;
  text-align: right;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 125% */
}
.avatar {
  width: 28px;
  height: 28px;
  border-radius: 28px;
  margin-right: 4px;
  /* ckground: url(<path-to-image>), lightgray 50% / cover no-repeat; */
}
.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px;
  background-color: white;
  color: #fff;
  border: none;
  cursor: pointer;
}
