.divDaysGeneralStats {
  border-radius: 10px;
  background-color: #FFF;
  box-shadow: 0px 4px 4px 0px rgba(64, 123, 255, 0.30);
}

.dateOfMonthParagrah {
  color: #407BFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 18px;
  font-family: 'Roboto';
}

.dailyNormaParagrah,
.fullfilmentParagrah,
.howManyServingsParagrah {
  color: #2F2F2F;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  font-family: 'Roboto';
}

.dailyNormaSpan,
.fullfilmentSpan,
.howManyServingsSpan {
  color: #407BFF;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  font-family: 'Roboto';
}

.dailyNormaParagrah {
  margin-bottom: 20px;
}

.fullfilmentParagrah {
  margin-bottom: 20px;
}

@media screen and (min-width: 0px) {
  .divDaysGeneralStats {
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 13px;
    padding-right: 13px;
    max-width: 280px;
  }
}

@media screen and (min-width: 768px) {
  .divDaysGeneralStats {
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 16px;
    padding-right: 16px;
    max-width: 292px;
  }
}

p {
  margin: 0;
}